<nav class="navbar navbar-expand-sm px-lg-4 px-md-4 px-2 fixed-top">
  <div class="container-fluid d-flex justify-content-between">
    <div class="navbar-brand-div">
      <a class="navbar-brand m-0">CARTIFY</a>
    </div>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fa-solid fa-bars"></i>
    </button>
    <div
      class="collapse navbar-collapse col-lg-7 col-md-9 col-9 pt-0"
      id="navbarSupportedContent"
    >
      <div class="links-container col-12 d-flex">
        <div class="m-auto">
          <div class="links-1 px-1 m-auto">
            <li
              class="nav-item screen-item me-lg-5 me-md-3 me-1"
              [ngClass]="{ 'selected-item': selectedNav === 'home' }"
            >
              <a
                class="nav-link"
                aria-current="page"
                routerLink="home"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                (click)="selectNav('home')"
                >HOME</a
              >
            </li>
            <li
              class="nav-item screen-item me-lg-5 me-md-3 me-1"
              [ngClass]="{ 'selected-item': selectedNav === 'products' }"
            >
              <a
                class="nav-link"
                aria-current="page"
                routerLink="products"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                (click)="selectNav('products')"
                >PRODUCTS</a
              >
            </li>
            <li
              class="nav-item screen-item ps-0 ms-0"
              [ngClass]="{ 'selected-item': selectedNav === 'offers' }"
            >
              <a
                class="nav-link"
                aria-current="page"
                routerLink="home"
                routerLinkActive="active"
                ariaCurrentWhenActive="page"
                (click)="selectNav('offers')"
                >OFFERS</a
              >
            </li>
          </div>
        </div>
        <div class="links-2">
          @if(!isLogin){
          <li
            class="nav-item me-3"
            [ngClass]="{ 'selected-item': selectedNav === 'signin' }"
          >
            <a
              class="nav-link px-3"
              aria-current="page"
              routerLink="signin"
              (click)="selectNav('signin')"
              >SignIn</a
            >
          </li>
          <li
            class="nav-item signup-btn"
            [ngClass]="{ 'selected-item': selectedNav === 'signup' }"
          >
            <a
              class="nav-link px-3"
              aria-current="page"
              routerLink="signup"
              (click)="selectNav('signup')"
              >SignUp</a
            >
          </li>
          } @if(isLogin){
          <li class="nav-item nav-icon me-3">
            <a routerLink="cart" class="nav-link px-0">
              <i class="fa-solid fa-bag-shopping"></i>
            </a>
          </li>
          <li class="nav-item nav-icon me-3">
            <a routerLink="wishlist" class="nav-link px-0">
              <i class="fa-solid fa-heart"></i>
            </a>
          </li>
          <li class="nav-item dropdown exception nav-icon">
            <a
              routerLink=""
              class="nav-link px-0 dropdown-toggle"
              id="userDropdown"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fa-solid fa-user"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li>
                <a class="dropdown-item" routerLink="myProfile">My Profile</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="myReviews">My Reviews</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="myOrders">My Orders</a>
              </li>
              <li>
                <a class="dropdown-item" (click)="logout()">Logout</a>
              </li>
            </ul>
          </li>
          }
        </div>
      </div>
    </div>
  </div>
</nav>
