nav {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  opacity: 0.9;
  padding-top: 24px;
  padding-bottom: 24px;
}
.navbar-brand {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 600;
}
.navbar-collapse {
  background-color: #fff;
}
.navbar-toggler:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
.nav-item {
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
  .nav-link {
    font-size: 14px;
    color: #000;
  }
  .nav-link:hover {
    cursor: pointer;
  }
}
.nav-item:hover {
  scale: (1.1);
}
.nav-icon {
  line-height: 30px;
}
.nav-icon:hover {
  cursor: pointer;
}
.nav-link {
  padding: 5px 15px 5px 15px;
}
.selected-item {
  background-color: #000;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
  .nav-link {
    color: #fff;
  }
}
.selected-item:hover {
  scale: (1);
}
.links-1,
.links-2 {
  list-style: none;
  display: flex;
}
@media (max-width: 575px) {
  .navbar-collapse {
    display: none;
  }
  .navbar-collapse.show {
    display: flex;
  }
  .links-1,
  .links-2 {
    display: block;
  }
}
.navbar-brand-div {
  width: fit-content;
}
.links-1 {
  flex-grow: 1;
}
.links-2 {
  white-space: nowrap; 
}
.dropdown-item{
  font-size: 14px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.dropdown-item:hover{
  scale: (1.1);
  background-color: transparent;
}
.exception:hover{
  scale:  (1);
}
.dropdown-menu{
  padding-right: 100px;
}