.place-order {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.place-order-title {
  font-size: 23px;
  font-weight: 600;
}
.cart-item {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  align-items: start;
  margin-bottom: 15px;
  .product-img {
    .img {
      width: 90px;
      height: 85px;
      border-radius: 8px;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      -ms-border-radius: 8px;
      -o-border-radius: 8px;
    }
  }
  .product-info {
    .product-row1 {
      height: fit-content;
      .product-name {
        font-size: 16px;
        font-weight: 500;
      }
      .product-price,
      .subtotal {
        font-size: 14px;
      }
    }
    .product-row2 {
      .product-cat {
        font-size: 13px;
      }
      .product-quantity {
        font-size: 14px;
      }
    }
    .sp {
      font-weight: 500;
      color: #848484;
    }
  }
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.cart-summary {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  background-color: #fafafa;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  .cart-summary-title {
    font-size: 18px;
    font-weight: 600;
  }
  .cart-subtotal,
  .cart-fees,
  .cart-total,
  .address {
    font-size: 14px;
  }
  .address-select {
    background-color: transparent;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
  }
  .address-option {
    font-size: 12px;
  }
  .place-order-btn {
    margin-top: 15px;
    width: 100%;
    height: 35px;
    background-color: #f5b214;
    font-weight: 500;
    font-size: 14px;
    border: none;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    color: #fafafa;
  }
}
.err {
  font-weight: 200;
  font-size: 13px;
}
@media (max-width: 858px) {
  .cart-products {
    width: 100%;
  }
  .cart-summary-cont {
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 500px;
  }
}
.box {
  height: 40px;
  width: 10px;
  background-color: #f5d714;
}
