.product-details {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}
.product {
  .imgs {
    .product-cover {
      width: 320px;
      height: 440px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
    .product-img {
      width: 60px;
      height: 80px;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
    }
  }
  .product-info {
    padding-left: 20px;
    .product-name {
      font-size: 30px;
      font-weight: 600;
    }
    .product-stats {
      color: #888888;
      .product-reviews,
      .product-sold {
        font-size: 15px;
        font-weight: 500;
      }
    }
    .product-prices {
      .product-price,
      .product-price-discount {
        font-size: 25px;
        font-weight: 500;
      }
    }
    .product-btns {
      .add-cart {
        width: 300px;
        height: 42px;
        border: none;
        background-color: #000;
        color: #fcfcfc;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
      .add-wishlist {
        width: 45px;
        height: 42px;
        border: none;
        background-color: #f5b214;
        color: #fcfcfc;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
  }
}
.title {
  font-size: 15px;
  color: #888888;
}
.strikethrough {
  text-decoration: line-through;
}
@media (max-width: 807px) {
  .add-cart {
    background-color: #f5b214;
    width: 240px !important;
  }
}
@media (max-width: 339px) {
  .imgs {
    margin: auto;
  }
  .product-cover {
    width: 300px !important;
    height: 300px !important;
  }
  .product-img {
    width: 56px !important;
    height: 56px !important;
  }
}
@media (max-width: 703px) {
  .product-info {
    margin-top: 24px;
    width: 100% !important;
  }
  .product {
    flex-wrap: wrap;
    justify-content: center;
  }
  .add-cart {
    width: 190px !important;
  }
}
.add-review-btn {
  border: none;
  outline: none;
  width: 160px;
  height: 40px;
  background-color: #f5b214;
  font-weight: 500;
  color: #fff;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  transition: 0.5s;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}
.add-review-btn:disabled {
  background-color: #5c5c5c;
}
.err {
  font-weight: 200;
  font-size: 13px;
}
.product-imgs .product-img:not(:last-child) {
  margin-right: 5px;
}

.reviews-title {
  margin-top: 30px;
  font-size: 24px;
  font-weight: 600;
  color: #888888;
}
.input-cont {
  width: fit-content;
  position: relative;
  margin: auto;
}
.placeholder:hover {
  cursor: auto;
}
.input {
  font-family: "Poppins", sans-serif;
  outline: none;
  height: 40px;
  width: 100%;
  border-radius: 4px;
  transition: 0.3s;
  font-size: 12px;
  border: 1px solid #8a8a8a;
}
.placeholder {
  position: absolute;
  top: 10px;
  left: 12px;
  transform: translateY(-50%);
  padding-left: 4.5px;
  padding-bottom: 2px;
  font-size: 10px;
  color: #858585;
  background-color: transparent;
  transition: 0.3s;
  display: none;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.input:focus + .placeholder {
  display: block;
}
.input::placeholder {
  transition: 0.3s;
  font-size: 13px;
  font-family: "Poppins", sans-serif;
}
.input:focus::placeholder {
  color: transparent;
}
.input:hover,
.input:focus {
  border-color: #f5b214;
}
.rate-input {
  width: 70px;
}
.inputs-div {
  width: fit-content;
}
.review {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.06);
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
.title {
  color: #5c5c5c;
  font-weight: 500;
}
.err {
  font-weight: 200;
  font-size: 13px;
  color: red;
  line-height: 40px;
  margin-left: 5px;
}