<div class="cart pt-5 px-lg-5 px-md-4 px-sm-3 px-3 mb-5 mt-3">
  @if(cartItems.length > 0){
  <div class="d-flex justify-content-between pt-5 mb-3">
    <div class="d-flex">
      <div class="box"></div>
      &nbsp;&nbsp;
      <p class="cart-title">Cart</p>
    </div>
    <button class="clear-btn" (click)="clearCart()">Clear Cart</button>
  </div>
  <div class="row1 d-flex flex-wrap justify-content-between">
    <div class="cart-products col-lg-8 col-md-8">
      @for(item of cartItems; track item._id){
      <div class="cart-item d-flex col-12 p-3">
        <div class="product-img">
          <img
            [src]="imgDomain + item.product.cover"
            [alt]="item.product.name"
            class="img me-3"
          />
        </div>
        <div class="product-info flex-grow-1">
          <div
            class="product-row1 d-flex justify-content-between mb-2 flex-wrap"
          >
            <p class="product-name m-0 p-0">{{ item.product.name }}</p>
            <div class="d-flex">
              <p class="product-price me-2">
                <span class="sp"> Price</span>
                {{ item.price | currency }}
              </p>
              <p class="subtotal m-0">
                <span class="sp">Subtotal</span>
                {{ item.price * item.quantity | currency }}
              </p>
            </div>
          </div>
          <div class="product-row2 d-flex justify-content-between flex-wrap">
            <div class="d-flex justify-content-between">
              <p class="product-cat me-2">
                <span class="sp">Category</span>
                {{ item.product.category.name }}
              </p>
              <p class="product-subcat">
                <span class="sp">Subcategory</span>
                {{ item.product.subcategory.name }}
              </p>
            </div>
            <div class="d-flex">
              <i
                class="fa-solid fa-trash-can me-3 trash-icon"
                (click)="removeProductFromCart(item._id)"
              ></i>
              <div class="product-quantity d-flex">
                <button
                  class="dec"
                  (click)="decreaseQuantity(item._id, item.quantity)"
                >
                  -
                </button>
                <button class="quantity">{{ item.quantity }}</button>
                <button
                  class="inc"
                  (click)="increaseQuantity(item._id, item.quantity)"
                >
                  +
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
    <div class="cart-summary-cont col-lg-4 col-md-4 container">
      <div class="cart-summary p-lg-4 p-3">
        <p class="cart-summary-title">Cart Summary</p>
        <p class="cart-subtotal">
          Cart Subtotal: {{ cart.totalPrice | currency }}
        </p>
        @if(cart.totalPriceAfterDiscount !== undefined){
        <p class="cart-total">
          Cart Subtotal After Discount:
          {{ cart.totalPriceAfterDiscount | currency }}
          <span class="coupon-code">{{codeInput.value}}</span>
        </p>
        }
        <p class="cart-fees">Tax fees: {{ 100 | currency }}</p>
        @if (cart.totalPriceAfterDiscount !== undefined) {
        <p class="cart-total">
          Total Price: {{ cart.totalPriceAfterDiscount + 100 | currency }}
        </p>
        }@else {
        <p class="cart-total">
          Total Price: {{ cart.totalPrice + 100 | currency }}
        </p>
        }

        <form
          [formGroup]="applyCouponForm"
          (ngSubmit)="applyCoupon(applyCouponForm)"
        >
          <div class="d-flex flex-wrap">
            <input
            #codeInput
              type="text"
              formControlName="code"
              placeholder="Coupon code"
              [value]="coupon"
              class="cart-coupon-input px-2 me-lg-2 me-1"
            />
            <button [disabled]="applyCouponForm.invalid"  class="coupon-add">
              Add
            </button>
          </div>
        </form>
        @if(couponError !== ''){
        <p class="err text-danger mt-1">{{ couponError }}</p>
        }
        <button class="proceed-btn" (click)="checkout()">Procced to checkout</button>
      </div>
    </div>
  </div>
  } @else {
  <div class="cart-empty-div col-lg-5 col-md-6 col-11 m-auto mt-4">
    <img
      src="images/empty-cart.png"
      class="cart-empty-img d-block w-100 mt-4"
    />
    <p class="cart-empty pt-5 text-center">Cart is Empty, Continue shopping!</p>
  </div>

  }
</div>
